 body {
	font-family: Calibri, Arial, sans;
	font-size: 14px;
}

a:hover {
	text-decoration: none;
}

a[class^="icon-"],
a[class*=" icon-"] {
	background-image: none;
	height: auto;
	width: auto;
}

#header {
	margin-bottom: 20px;
}

#site-name {
	font-size: 4em;
	line-height: 100%;
}

#site-name a {
	color: #222;
}

#site-slogan {
	color: #AAA;
	font-size: 2em;
	font-weight: bold;
}

.view-id-projects.view-display-id-page_1 h2 {
	font-size: 1.5em;
}

.view-id-projects.view-display-id-page_1 .item-list > ul {
	list-style: none;
	margin: 0 0 20px;
}

.view-id-projects.view-display-id-page_1 .item-list > ul > li {
	margin: 0;
}

.view-id-projects.view-display-id-page_1 .views-field-field-tags {
	color: #AAA;
}

#block-menu-menu-follow > h2 {
	font-size: 1.5em;
}

#block-menu-menu-follow > .content > ul {
	margin: 0 0 20px;
}

#block-menu-menu-follow > .content > ul > li {
	padding: 0;
}


#page {
	padding: 40px 0;
}

.front .container {
	width: 320px;
}